<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}emkacz fotografia{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/App.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/summary.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calculator.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
