<header class="Header">
    <div class="navbar">
        <div class="navbar-left">
            <a href="{{ url_for('home') }}">HOME</a>
            <a href="{{ url_for('portfolio') }}">PORTFOLIO</a>
            <a href="{{ url_for('about') }}">ABOUT</a>
            <a href="{{ url_for('products') }}">PRODUCTS</a>
            <a href="{{ url_for('kontakt') }}">CONTACT</a>
            <a href="{{ url_for('calculator') }}">CALC</a>
            <a href="{{ url_for('clicker') }}">CLICKER</a>
        </div>
        <div class="navbar-center">
            <h1>emkacz fotografia ඞ</h1>
        </div>
    </div>
</header>
